.split-carousel-item {
  display: inline-block;
  font-size: initial;
  overflow: hidden;
  box-sizing: border-box;
  transition-property: transform,left;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  &.is-static{
    position: relative;
    left: auto;
  }
  &--content {
    box-sizing: border-box;
    border: 1px solid;
    height: 100%;
  }
}
