.split-carousel-item{
  display: inline-block;
  font-size: initial;
  overflow: hidden;
  width: 20%;
  box-sizing: border-box;
  &--content{
    box-sizing: border-box;
    border: 1px solid;
    min-height: 10px;
  }
}